*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:#000;
color:#fff;

}

header{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px;

position:sticky;

top:0;

background:#000;

z-index:1000;

}

.menu-btn,
.search-btn{

font-size:28px;

cursor:pointer;

}

.logo{

font-size:28px;

font-weight:700;

}

.logo span{

color:#e50914;

}

.tabs{

display:flex;

gap:18px;

padding:20px;

overflow-x:auto;

scrollbar-width:none;

}

.tabs::-webkit-scrollbar{

display:none;

}

.tabs button{

background:none;

border:none;

color:white;

font-size:18px;

padding:14px 28px;

border-radius:40px;

cursor:pointer;

transition:.35s;

white-space:nowrap;

}

.tabs button.active{

background:#444;

}

.tabs button:hover{

background:#222;

}